body {
    font-family: Inter var;
}

.headingContainer{
    text-align: center;
}

.headSection1 {
    color: rgba(79, 70, 229,0.9);
    font-size: 16px;
    font-weight: 700;
    margin-top: 3rem;
    margin-bottom: 0;
}

.headSection2 {
    font-size: 3rem;
    font-weight: bolder;    
}

.headSection3 {
    color: rgb(0,0,0,0.7);
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 1rem;
 }

 .spaceHeadection3
{
    margin-top: 10px;
}

.cardContainer {
    margin-top: 3rem;
    margin-left: 2rem;
}

.card1 {
    width: 22rem;
    border: 1px solid #e5e7eb;
    border-radius: 20px;
    align-content: center;
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-right: 2rem;

}

.card1:hover
{
    border-color: rgba(79, 70, 229, 0.9);
}

.card1 >.heading{
    font-size: 22px;
    font-weight: bold;
    color: black;
}

.card1Section1 {
    color: rgb(75 85 99);
    font-size: 15px;
    font-weight: bold;
}

.card1Section2 {
    color: black;
    font-size: 35px;
}

.card1 p,.listContainer {
    color: rgb(0,0,0,0.7);
}

.listContainer{
    font-size: 16px;
}

img{
    height: 25px;
    align-self: center;
}

.listContentContainer1
{
      display: flex;
      column-gap: 8px;
}

.listContentContainer2
{
      display: flex;
      column-gap: 8px;
}

.listContentContainer3
{
      display: flex;
      column-gap: 8px;
}

.listContentContainer4
{
      display: flex;
      column-gap: 8px;
}

.card1 button {
    color: rgba(79, 70, 229,0.9);
    background-color: white;
    font-size: 16px;
    border: 1px solid rgba(79, 70, 229,0.9);
    border-radius: 8px;
    width: 100%;
    padding: 8px;
    margin-top:4rem ;
    margin-bottom: 1rem;
    font-weight: 550;
}

.card1 button:hover{
    color: white;
    background-color: rgba(79, 70, 255, 0.9);
}